@{
    string currentPath = HttpContext.Current.Request.Path;
}
@switch (currentPath)
{
    case string path when path.StartsWith("/Apuramento/GerarPdf/"):
        <!DOCTYPE html>
        <html lang="pt-AO">
        <head>
            <meta charset="UTF-8">
            <title>@ViewBag.Title</title>
            <style>
                header {
                    border: 2px solid black;
                }

                #DivEmpr {
                    padding: 3px 30px;
                    border-bottom: 2px solid black;
                    position: relative;
                    display: block;
                    height: 110px;
                }

                    #DivEmpr img {
                        height: 80px;
                        margin: 0 10px;
                        width: 10%;
                        position: absolute;
                        left: 0;
                        top: 0.5cm;
                    }

                    #DivEmpr #DivTextEmpr {
                        margin: 10px 0 80px 0;
                        width: 90%;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                        #DivEmpr #DivTextEmpr .textos {
                            position: relative;
                            display: block;
                            padding-left: 20px;
                        }

                            #DivEmpr #DivTextEmpr .textos .t1 {
                                margin: 0 10px;
                                position: absolute;
                                left: 0;
                                top: 0.7cm;
                                padding-left: 12px;
                            }

                            #DivEmpr #DivTextEmpr .textos .t2 {
                                position: absolute;
                                right: 0;
                                top: 0.7cm;
                            }

                            #DivEmpr #DivTextEmpr .textos .t3 {
                                position: absolute;
                                left: 0;
                                top: 1.2cm;
                                padding-left: 20px;
                            }

                            #DivEmpr #DivTextEmpr .textos .t4 {
                                position: absolute;
                                left: 0;
                                top: 1.8cm;
                                padding-left: 20px;
                            }

                            #DivEmpr #DivTextEmpr .textos .t5 {
                                position: absolute;
                                right: 0;
                                top: 1.8cm;
                            }

                            #DivEmpr #DivTextEmpr .textos .t6 {
                                position: absolute;
                                left: 0;
                                top: 0;
                            }

                            #DivEmpr #DivTextEmpr .textos .t7 {
                                position: absolute;
                                right: 0;
                                top: 0;
                            }

                #DivFunc {
                    padding: 3px 30px;
                    margin: 0;
                    height: 50px;
                }

                    #DivFunc .textos {
                        position: relative;
                        display: block;
                        padding-left: 20px;
                    }

                        #DivFunc .textos .t1 {
                            margin: 0 10px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            padding-left: 12px;
                        }

                        #DivFunc .textos .t2 {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }

                        #DivFunc .textos .t3 {
                            margin: 0 10px;
                            position: absolute;
                            left: 0;
                            top: 0.7cm;
                            padding-left: 12px;
                        }

                        #DivFunc .textos .t4 {
                            position: absolute;
                            right: 0;
                            top: 0.7cm;
                        }

                .textos p {
                    margin: 4px;
                }

                table#tabela {
                    border: 1px solid black;
                    border-spacing: 0;
                    margin: 0;
                }

                    table#tabela td, table#tabela th {
                        border: 1px solid black;
                        padding: 1px 12px;
                    }

                .alinhaCentro {
                    text-align: center;
                }

                #footer {
                    border: 2px solid black;
                    padding: 10px;
                    height: 100px;
                }

                #assinaturas {
                    margin-top: 38px;
                    position: relative;
                    display: block;
                }

                .assinatura1 {
                    text-align: center;
                    margin: 0 10px;
                    width: 35%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .assinatura2 {
                    text-align: center;
                    margin: 0 10px;
                    width: 35%;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                    .assinatura1 div, .assinatura2 div {
                        height: 1px;
                        border: 1px solid black;
                    }
            </style>
        </head>
        <body>
            <div>
                @RenderBody()
            </div>
        </body>
    </html>

    break;
case string path when path.StartsWith("/Afastamento/GerarPdf/"):
    <!DOCTYPE html>
    <html lang="pt-AO">
    <head>
        <meta charset="UTF-8">
        <title>Declaração de Afastamento</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
            }

            h1 {
                text-align: center;
            }

            p {
                text-align: justify;
                margin-bottom: 10px;
            }

            .datas {
                \ width: 100%;
                text-align: center;
            }

                .datas p, h3 {
                    text-align: center;
                }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
break;
case string path when path.ToLower().StartsWith("/login/login"):
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">
    <title>@ViewBag.Title</title>
    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Content/css/css/vendors_css.css" asp-append-version="true">
    <!-- Style-->
    <link rel="stylesheet" href="~/Content/css/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Content/css/css/skin_color.css" asp-append-version="true">
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    @RenderBody()
    @RenderSection("script", false)
</body>
</html>

break;
default:


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">
    <title>@ViewBag.Title</title>
    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Content/css/css/vendors_css.css" asp-append-version="true">
    <!-- Style-->
    <link rel="stylesheet" href="~/Content/css/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Content/css/css/skin_color.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" asp-append-version="true">
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
   
    <div class="wrapper">
        <div id="loader"></div>
        <header class="main-header">
            <div class="d-flex align-items-center logo-box justify-content-center">
                <a href="#" class="waves-effect waves-light nav-link d-none d-md-inline-block mx-10 push-btn bg-transparent" data-toggle="push-menu" role="button">
                    <span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                </a>
                <!-- Logo -->
                <a asp-area="#" asp-controller="#" asp-action="#" class="logo">

                    <!-- logo-->
                    <div class="logo-lg">
                        <span class="light-logo"><img src="~/Content/css/images/logo-dark-text.png" alt="logo"></span>
                        <span class="dark-logo"><img src="~/Content/css/images/logo-light-text.png" alt="logo"></span>
                    </div>
                </a>
            </div>
            @Html.Partial("_HeaderNavbar")
        </header>
        <aside class="main-sidebar">
            @Html.Partial("_BarraLateral")
        </aside>
        <div class="content-wrapper  bg-light">
            <div class="container-full">
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer class="main-footer align-center">
            <div class="pull-right d-none d-sm-inline-block">
                <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.alayschoolgest.com/">ALAYSchoolGest</a>&copy;2023
                    </li>
                    <li class="nav-item">
                        Desenvoldivo por:
                        <a class="nav-link" href="https:ajmdstec.ao" target="_blank">Abel Tomás José</a>
                    </li>
                </ul>
            </div>
            <a href="https://www.alayschoolgest.com/"></a> Todos Direitos Reservados.
        </footer>



        <!-- Page Content overlay -->
        <!-- Vendor JS -->
        <script src="~/Content/css/js/vendors.min.js"></script>
        <script src="~/Content/css/js/pages/chat-popup.js"></script>
        <script src="~/Content/css/assets/icons/feather-icons/feather.min.js"></script>

        <script src="~/Content/css/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
        <script src="~/Content/css/assets/vendor_components/moment/min/moment.min.js"></script>
        <script src="~/Content/css/assets/vendor_components/fullcalendar/fullcalendar.js"></script>

        <!-- EduAdmin App -->
        <script src="~/Content/css/js/template.js"></script>
        <script src="~/Content/css/js/pages/dashboard.js"></script>
        <script src="~/Content/css/js/pages/calendar.js"></script>

        @RenderSection("script", false)
</body>
</html>

break;

}

