
@model AjmdsControloPresenca.UI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="my-5 row">
    <div class="col-12 col-md-6">
        <h2>Entrar no sistema</h2>
        <small>
            @Html.ValidationMessage("ErroLogin")
        </small>

        <form method="post">
            <div class="form-group">
                @Html.LabelFor(c => c.Nome, "Nome")
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control",autofocus="" })
                <small>
                    @Html.ValidationMessageFor(v => v.Nome, null, new { @class = "text-danger" })
                </small>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Senha, "Senha")
                @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                <small>
                    @Html.ValidationMessageFor(v => v.Senha, null, new { @class = "text-danger" })
                </small>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(model => model.Logado, new { @class = "" })
                @Html.LabelFor(model => model.Logado, "Permanecer logado")
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-primary" value="Entrar" />
            </div>
        </form>
    </div>
</div>

@section script{

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
}