@model PagedList.IPagedList<CargoIndexVM>
@{
    ViewBag.Title = "Cargos";
}

<h2>@ViewBag.Title</h2>
<a href="@Url.Action("Add")" class="btn btn-primary mt-4 mb-4 px-3">Cadastrar</a>

<div class="table-responsive table-hover">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cg in Model)
            {
                <tr id="cargo-@cg.Id">
                    <th scope="row">@cg.Id</th>
                    <td>@cg.Descricao</td>
                    <td class="btn-group">
                        <a class="btn btn-sm btn-outline-success"
                           href="@Url.Action("Edit",new {id=cg.Id})"><i class="fas fa-edit"></i> Editar</a>
                        <button class="btn btn-sm btn-outline-danger" onclick="showModal(@cg.Id,'@cg.Descricao')"><i class="fas fa-trash"></i> Excluir</button>
                    </td>
                </tr>
            }
            <tr class="bg-transparent">
                <td colspan="2"><b>@Model.Count registros de @Model.TotalItemCount</b></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- -->
@{
    if (Model.TotalItemCount != Model.Count)
    {
        <div class="row">
            <div class="col-md-12">
                Página @(Model.PageCount<Model.PageNumber? 0 : Model.PageNumber) de @Model.PageCount

                @if (Model.HasPreviousPage)
                {
                    @Html.ActionLink("<<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.Raw(" ");
                    @Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                }
                else
                {
                    @:<<
                    @Html.Raw(" ");
                    @:< Anterior
                }

                @if (Model.HasNextPage)
                {
                    @Html.ActionLink("Próxima >", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.Raw(" ");
                    @Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                }
                else
                {
                    @:Próxima >
                    @Html.Raw(" ")
                    @:>>
                }
            </div>
        </div>
    }
}
<div>
    <div data-id="0" class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir Cargo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Desejas excluir o cargo <span id="lblNome"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnConfirmar">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
    <script>
        function showModal(Id, Nome) {
            $('#lblNome').text(Nome)
            $('#deleteModal').data('id', Id).modal('show')
        }
        document.querySelector('#btnConfirmar').addEventListener('click', async () => {
            const id = $('#deleteModal').data('id')
            var link = `/Cargo/Delete/${id}`
            var promisse = await fetch(link)
            if (promisse.status == 200) {
                document.querySelector('#cargo-' + id).remove()
                toastr.success('Cargo Excluido com sucesso', 'AJMDS-PRESENCA')
            } else {
                toastr.error('Falha ao exluir cargo', 'AJMDS-PRESENCA')
            }
            $('#deleteModal').data('id', '0').modal('hide')
        })

    </script>
}

@if (TempData["Mensagem"] != null)
{
    <script>
                toastr.success("@TempData["Mensagem"]");
    </script>
}