

@model UsuarioAddEditVM

<h2>Editar Usuário</h2>

<div id="content">
    <form class="my-4 text-muted p-0"  method="post">

        <div class="form-group">
            @Html.HiddenFor(n => n.FuncionarioId)
            <small>  @Html.ValidationMessageFor(n => n.FuncionarioId, null, new { @class = "text-danger" })</small>
        </div>

        <div class="form-group p-0 col-md-6">
            @Html.LabelFor(n => n.NomeFuncionario, "Funcionário:")
            @Html.TextBoxFor(n => n.NomeFuncionario, new { @class = "form-control", @readonly = "" })
            <small>  @Html.ValidationMessageFor(n => n.NomeFuncionario, null, new { @class = "text-danger" })</small>
        </div>

        <div class="form-group p-0 col-md-6">
            @Html.LabelFor(n => n.Nome, "Nome Login:")
            @Html.TextBoxFor(n => n.Nome, new { @class = "form-control", @readonly = "" })
            <small>  @Html.ValidationMessageFor(n => n.Nome, null, new { @class = "text-danger" })</small>
        </div>

        <div class="form-group p-0 col-md-6">
            @Html.LabelFor(n => n.Password, "Senha:")
            @Html.PasswordFor(n => n.Password, new { @class = "form-control", @focus = "" })
            <small>  @Html.ValidationMessageFor(n => n.Password, null, new { @class = "text-danger" })</small>
        </div>
        <div class="form-group p-0 col-md-6">
            @Html.LabelFor(n => n.ConfirmPassword, "Confirmar senha:")
            @Html.PasswordFor(n => n.ConfirmPassword, new { @class = "form-control" })
            <small>  @Html.ValidationMessageFor(n => n.ConfirmPassword, null, new { @class = "text-danger" })</small>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
            <a href="@Url.Action("Index")" class="btn btn-outline-info">Cancelar</a>
        </div>

    </form>
</div>


@section script{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
}
